= page_header "This Month"

%table.table.table-striped
  %thead
    %tr
      %td Category
      %td Amount

  %tbody
    - @spending.each do |category, cents|
      %tr
        %td= category.name
        %td.span2.amount= number_to_currency(cents_to_dollars(cents), unit: "")