%h1 Dashboard

- if MintAccount.not_imported.count > 0
  %p There are #{pluralize MintAccount.not_imported.count, "new account"} from mint.com to #{link_to "review", review_path}

- if MintTransaction.not_imported.count > 0
  %p There are #{pluralize MintTransaction.not_imported.count, "new transaction"} from mint.com to #{link_to "review", review_path}