%h3= title
%table.table.table-striped
  %thead
    %tr
      %th Category
      %th Spent
      %th
      %th Budgeted
  %tbody
    - entries.each do |entry|
      %tr
        %td.span3= link_to entry.category.name, category_transactions_path(entry.category, q: {date_gteq: time.at_beginning_of_month.strftime("%Y-%m-%d"), date_lteq: time.at_end_of_month.strftime("%Y-%m-%d")})
        %td.span2.amount= number_to_currency(cents_to_dollars(entry.cents), unit: "")
        %td
          - if entry.category.budgeted?
            %meter{value: entry.budget_percentage, optimum: 0.01, low: 0.5, high: 0.99999, style: "width:100%;"}
        %td.span2.amount= number_to_currency(cents_to_dollars(entry.category.budgeted_cents), unit: "")